*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Gabarito',sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.nav__title h1{
    color: #8710d8;
}
.nav__title{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}

.nav__search{
    
    border: solid black 1px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    
    
    
}
.nav__search input{
    border:none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}
.nav__search input:focus{
outline: none;
}
.nav__options{
    display:flex;

    gap: 10px;
    align-items: center;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__pop{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    right: 0;
    top: 150%;
    width: 100px;
    display: none;
}
.mylearning:hover .mylearning__pop{
    display: block;
}


.categories{
    padding: 10px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content:space-evenly;

}
.categories p{
    padding: 10px;
    border-radius: 20px;
    background-color: #8710d8;
    color: white;

}
.section {
    position: relative;
}
.section img{
    width: 100%;
}
.section__sale{
    width:35%;
    padding: 2%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 10%;
    left: 10%;
}

.recommdended{
    padding: 20px;
   
    
}
.recommdended h2{
    margin-top: 10px;
}
.container__box {
    width: 250px;  
}
.container__box img{
    width: 100%;
    height: 50%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
    margin-top: 10px;
}
.topics{
    padding: 20px;

}
.topics__one{
    display: flex ;
    margin-top: 10px;
    gap: 20px;
    flex-wrap: wrap;

}
.topics__one p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    text-align: center;
}
.popular{
    padding: 20px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}
.footer{
    padding: 30px;
    background-color:black;
    color: white;
    
    
}

.footer__one{
    display: flex;
    gap: 30px;

}
.footer__one p{
    margin-top: 10px;
}
.footer__s3{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}